.carouselSection {
    position : relative;
    margin-bottom : 70px;
    & > .contentWrapper {
        display : flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .carouselTitle {
        font-style: 24px;
        color : white;
        font-weight: normal;
    }
}
.dayWeek{
    display: flex;
}

.combined{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin: 0 20px;
}
.parent_combined{
    display: flex;
    justify-content: center;
    margin: 18px 80px;
}

.movie_section{
    margin: 0 80px;

}